<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CameraUrl" value="http://localhost" />
    <add key="CameraPort" value="0" />
    <add key="VideoStoragePath" value="videos" />
    <add key="UseDirectShow" value="true" />
    <add key="MaxRetries" value="3" />
  </appSettings>
</configuration>
